<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zine1</title>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }

        #full-page-image {
            background-image: url("{{ url_for('static', filename='zine_sheet1.png') }}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="full-page-image"></div>
</body>

<script>
    document.addEventListener('keydown', function(event) {
        // Check for left or right arrow key press
        if (event.keyCode === 37 || event.keyCode === 39) {
            window.location.href = window.location.origin + "/zine2";
        }
    });
</script>

</html>